@use "../utils/colors.scss";
@use "../utils/mixins.scss";
@use "../utils/variables.scss";
.fonction{
    padding: 2rem 2rem;
    counter-reset: numbers;

& ol{
        display: flex;
        gap:2rem;
        padding-left:1rem ;
        padding-bottom: 2rem;
        @media (max-width:variables.$breakpoint){
        flex-direction: column;
        padding: 0 ;
        white-space: nowrap;
        margin-right: -1rem;
        }
        
    }
& li{ 
    position: relative;
    & ::after{     
        content:counter(numbers);
        counter-increment: numbers; 
        color: white;
        background-color: colors.$primary;
        padding: 0.8rem;
        width: 0.5rem;
        height: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:50%;
        position: absolute;
        top:50%;
        left:-1rem;
        transform: translateY(-50%);
        }
        list-style-type:none;
        background-color:colors.$lightergrey; 
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.box-shadow;
        &:hover{
        @include mixins.transform-zoom;
        background-color:colors.$lightpurple;
    i::before {
        color:colors.$primary; 
    }
    }
    
&  i.fas{
    color: colors.$grey;
    padding: 1rem;
    
}
    }
}
