footer{
    background-color:  #353535;
    padding: 0.5rem 2rem;
    h2{
        font-family: "Shrikhand", cursive;
        color:white;
        font-weight: 100;
        font-size: medium;
    }
p{
    color: white; 
}
i {
    padding-right: 0.8rem;
}

}