@use  "../utils/variables.scss";
@use  "../utils/colors.scss";
.location {
   display:flex;
   align-items: center;
   justify-content: center;
   background-color:colors.$lightgrey;
   gap: 1rem;
   padding: 1rem;
   & h2{
      font-size: 1rem;
      font-weight: 400;
      }
}

