.location {
     display:flex;
     align-items: center;
     justify-content: center;
     background-color:#D8D8D8;
     gap: 1rem;
     & h2{
        font-size: 1rem;
        font-weight: 400;
        }
 }
     
