@use  "../utils/mixins.scss";
@use  "../utils/colors.scss";
@use  "../utils/variables.scss";
.menus{
background-color: colors.$lightergrey; 
padding: 3rem 2rem;
& h2{
    margin:2rem 0;
}
.menus_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    @media( max-width:variables.$breakpoint){
        grid-template-columns: repeat(1,1fr);
        }
.new{
    position: relative;
    border-radius: 1rem ;
}
.new::before{
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color:colors.$tertiary;
    color:darken($color: colors.$tertiary, $amount:50%) ;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
    border-radius: 0.2rem;
}
}
.card{
    background-color: white;
    border-radius: 1rem ;
    @include  mixins.box-shadow;

&__image{
    height:15rem ;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    background-position: center;
    } 
@for $i from 1 through 4 {
    &__image-#{$i} {
        background-image:url("./assets/menu-#{$i}.jpg");
    }
}
}
& .card__description{
    @include mixins.heart-animated;
    h3,
    p{   
    margin:0.5rem; 
        } 
        h3{
            padding-top: 0.5rem; 
        } 
        p{
            padding-bottom: 0.3rem;
        }   

}
}


