
@use  "../utils/mixins.scss";
@use  "../utils/colors.scss";

.selection{
background-color:whitesmoke;
text-align: center;

& h2{
padding:  0; 
margin: 0;
padding-top: 2rem;
}

& p{
font-size: 1rem;
margin-bottom: 2rem;
color: grey;
}
& button{
@include mixins.base-button;
}
}
.loading{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffff;
    height:100vh;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index:1 ;
    opacity: 0.9;
    animation: disappear 200ms 3s forwards ;
    transform-origin: top;
    &::after{
    content: "";
        height: 100px;
        width: 100px;
        border-top: 5px solid colors.$primary;
        border-radius: 50%;
        animation: spin 1s infinite ease-in-out;  
    }
}
@keyframes disappear{
    to {
        transform: scale(0);
    }
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}