@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
  position: relative;
}

h1 {
  margin-bottom: 0;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  gap: 1rem;
  padding: 1rem;
}
.location h2 {
  font-size: 1rem;
  font-weight: 400;
}

.selection {
  background-color: whitesmoke;
  text-align: center;
}
.selection h2 {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}
.selection p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: grey;
}
.selection button {
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
  background-image: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}
.selection button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.loading {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffff;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loading::after {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fonction {
  padding: 2rem 2rem;
  counter-reset: numbers;
}
.fonction ol {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
@media (max-width: 1000px) {
  .fonction ol {
    flex-direction: column;
  }
}
.fonction li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
}
.fonction li ::after {
  content: counter(numbers);
  counter-increment: numbers;
  color: white;
  background-color: #9356DC;
  padding: 0.8rem;
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.fonction li:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #f5edff;
}
.fonction li:hover i::before {
  color: #9356DC;
}
.fonction li i.fas {
  color: #7e7e7e;
  padding: 1rem;
}

.menus {
  background-color: #f6f6f6;
  padding: 4rem 2rem;
}
.menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus_cards .new {
  position: relative;
  border-radius: 1rem;
}
.menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 0.2rem;
}
.menus .card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
}
.menus .card__image {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: center;
}
.menus .card__image-1 {
  background-image: url("./assets/menu-1.jpg");
}
.menus .card__image-2 {
  background-image: url("./assets/menu-2.jpg");
}
.menus .card__image-3 {
  background-image: url("./assets/menu-3.jpg");
}
.menus .card__image-4 {
  background-image: url("./assets/menu-4.jpg");
}
.menus .card__description {
  position: relative;
}
.menus .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.menus .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(#ff79da, #9356dc);
}
.menus .card__description:hover::after {
  opacity: 1;
}
.menus .card__description h3,
.menus .card__description p {
  margin: 0.5rem;
}
.menus .card__description h3 {
  padding-top: 0.5rem;
}
.menus .card__description p {
  padding-bottom: 0.3rem;
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

footer {
  background-color: #353535;
  padding: 0.5rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 100;
  font-size: medium;
}
footer p {
  color: white;
}
footer i {
  padding-right: 0.8rem;
}

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.image img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.resto__title {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  margin-bottom: -2rem;
  position: relative;
}
.resto__title h2 {
  font-family: "shrikhand", "cursive";
  padding: 1rem 1rem;
}
.resto__title::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto__title::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(#ff79da, #9356dc);
}
.resto__title:hover::after {
  opacity: 1;
}

#page-resto header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 1rem;
  top: 2.5rem;
}
#page-resto .menus-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
@media (max-width: 1000px) {
  #page-resto .menus-grid {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus-grid h3 {
  font-weight: 300;
  position: relative;
}
#page-resto .menus-grid h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0rem;
  top: 1.6rem;
}
#page-resto .resto-main {
  padding: 0 1rem;
  background-color: #f6f6f6;
}
#page-resto .resto-main .menus__category {
  overflow: hidden;
}
#page-resto .resto-main .menus__category h4 {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
#page-resto .resto-main .menus__category p {
  margin: 0;
}
#page-resto .resto-main .menus__category .menu-item {
  display: flex;
  background-color: white;
  margin: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  white-space: nowrap;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .resto-main .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .resto-main .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .resto-main .menus__category .menu-item:nth-child(4) {
  animation-delay: 400ms;
}
#page-resto .resto-main .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .resto-main .menus__category .menu-item .menu-item__description {
  padding: 0.5rem;
  overflow: hidden;
}
#page-resto .resto-main .menus__category .menu-item .menu-item__description h4,
#page-resto .resto-main .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .resto-main .menus__category .menu-item .price {
  padding: 1rem;
  margin-left: auto;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
#page-resto .resto-main .menus__category .menu-item .menu-item__check {
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#page-resto .resto-main .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  color: #99e2d0;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
}
#page-resto .resto-main .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
  cursor: pointer;
}
#page-resto .resto-main .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order {
  height: 20vh;
  display: grid;
  place-items: center;
}
.order button {
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
  background-image: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}
.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
