// Couleurs principales:
$primary:#9356DC;
$secondry: #ff79da ;
$tertiary: #99e2d0;

// Couleurs secondaires:
$lightergrey: #f6f6f6;
$lightestgrey: #ffffff;
$darkgrey: #353535;
$lightgrey:#D8D8D8;
$WhiteSmoke: #f3f3f3;
$grey:#7e7e7e;